@{
    ViewBag.Title = "About";
}
<h2>ABOUT AUTO INSURANCE</h2>


<p>Basic personal auto insurance is mandated by most states and provides you with some financial protection in case of an accident. But is it enough? What are the options? Learn how car insurance works and what types of coverage are available.</p>


<p>
    Auto insurance is a contract between you and the insurance company that protects you against financial loss in the event of an accident or theft. In exchange for your paying a premium, the insurance company agrees to pay your losses as outlined in your policy.

    Auto insurance provides coverage for:

    Property – such as damage to or theft of your car
    Liability – your legal responsibility to others for bodily injury or property damage
    Medical – the cost of treating injuries, rehabilitation and sometimes lost wages and funeral expenses
    Basic personal auto insurance is mandated by most U.S. states, and laws vary. Auto insurance coverages are priced individually (a la carte) to let you customize coverage amounts to suit your exact needs and budget.

    Policies are generally issued for six-month or one-year timeframes and are renewable. The insurance company sends a notice when it’s time to renew the policy and pay your premium.<p>
