@{
    ViewBag.Title = "Contact";
}
<h2>Contact information</h2>


<address>
    MONO SOFTWARE
    IT Park Osijek 1,<br />
    31 000 Osijek<br />
    <abbr title="Phone">P:</abbr>
    031/213/966
</address>

