@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CARPEDIA</h1>
    <p class="lead">Carpedia is a platform where you can register your car and get 2 years of full car insurance for FREE.</p>
    <p><a href="https://www.statefarm.com/insurance/auto" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>HOW</h2>
        <p>
          You only need basic car information!
        </p>
        <p><a class="btn btn-default" href="https://www.progressive.com/lifelanes/on-the-road/five-things-to-know-about-your-car/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Secure</h2>
        <p>This page is totally secure and verified by CARINSURANCE.COM </p>
        <p><a class="btn btn-default" href="https://www.forbes.com/advisor/car-insurance/best-car-insurance-companies/">Learn more &raquo;</a></p>
    </div>
  
</div>